.event-container {
    display: flex;
    flex-direction: column;
    width: 85%;

    font-size: 1.3rem;
    padding: 4%;

    .event-header {
      display: flex;
      flex-direction: column;
      align-items: center;

      .headerTop{
        @include flex(row, space-between, center);
        margin-bottom: 25px;
        width: 100%;
      }    
      .new-photo {
        @include flex(row, center, center);
        width: 300px;
        height: 100px;
        margin: 15px 0px;
        border-radius: 10px;
        background: white;
        border: 2.2px solid $primary-blue2;
          
      }


        h3 {
            margin: 0;
        }



        .edit-button{
            background: $neutral-lightBlue;
            font-size: 1.4rem;
            color: black;
            margin: 0 auto;
            border: none;
            @include flex(row, center, center);
        }

        .back-button-link {
            background: $primary-gray2;
            @include flex(row, center, center);
            padding: 5px; 
            border: 1px solid black;
            border-radius: 25%;
            color: black;
            .back-button {
                margin: 0 auto;
            }
        }

    }//event-header

    .event-info-container {
        display: flex;
        flex-direction: column;
        background: white;
        
        .event-info {
            @include flex(column, space-around, space-between);
            margin: 10px;

            p {
                margin: 0;

                }
            p:nth-child(even){
                font-size: 1.5rem;
                font-weight: 600;
            }

        }//event-info
        
    }//event-info-container

    .lists-container {
        margin-top: 20px;

        h3 {
            text-align: left;
        }

        .ui.button {
            width: 250px;
            height: 50px;
            margin: 8px 0px;
            background: $primary-blue3;
            color: black;
            font-size: 1.4rem;
        }

    }//lists-container

}//event-container

.delete-event-icon{

  cursor: pointer;
  color: rgb(243, 80, 112);

  &:hover {
    transform:scale(1.1)
  }
}
.hide{
    display: none;
}

