.ui.modal.transition.visible.active.listModalContainer {
  width: 350px;

  .list-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    .ui.input {
      margin-bottom: 0.75rem;
    }
    .ui.button {
      margin-top: 1rem;
      width: 175px;
      color: rgb(104, 75, 246);
      background: none;
      border: 2px solid rgb(104, 75, 246);
      border-radius: 7px;
    }
  }

  .content.list-content {
    margin: 0;
    background: rgb(219, 226, 238);

  
      h3, p {
        margin-bottom: 0.25rem;
      }

      .delete-item-icon{

        cursor: pointer;
        color: rgb(243, 80, 112);
      
        &:hover {
          transform:scale(1.1)
        }
      }
  }
}