.ui.menu:first-child {
  top: 0;
  background: $primary-gray2;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  
  .header.item {
    border: none;
  }

  .item{
    border: none;
  }

}//.ui.menu:first-child

.ui.menu .item::before{
  background: none;
}