//mixins and variables
@import './mixins.scss';
@import './variables.scss';

.App {
  @include flex(column, center, center);
  text-align: center;
  min-height: 100vh
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.content {
  margin-top: 75px;
  @include flex(column, start, center);
  flex: 1 0 auto;
  width: 100%;
}

@import './component-styles/NavBar.scss';
@import './component-styles/Events.scss';
@import './component-styles/Event.scss';
@import './component-styles/Footer.scss';



