//mixins and variables
@import './mixins.scss';
@import './variables.scss';


@import './component-styles/Footer.scss';

@import './component-styles/Events.scss';
@import './component-styles/Event.scss';
@import './component-styles/NavBar.scss';


.App {
  @include flex(column, center, center);
  text-align: center;


}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}




